flask
gunicorn
aiohttp
aiofiles
APScheduler==3.7.0
bs4
googlesearch-python== 1.0.1
gpytranslate
google==3.0.0
gitpython
humanize
httpx
heroku3
requests
motor==3.0.0
opencv-python-headless
psutil
pyrogram
pytgcalls==3.0.0.dev22
sqlalchemy==1.3.23
pymongo
python-dotenv
pymediainfo
prettytable
pytube
python-arq
pillow
spotipy
git+https://github.com/Itz-fork/py-trans.git
reportlab
requests
svglib
speedtest-cli==2.1.3
tgcrypto 
telegraph
uwuify
youtube-search
youtube-search-python
ffmpeg-python
yt-dlp
wget
gTTS
googletrans==4.0.0rc1
search-engine-parser
