flask
gunicorn
aiohttp
aiofiles
APScheduler==3.7.0
bs4
googlesearch-python== 1.0.1
gitpython
humanize
httpx
heroku3
requests
motor==3.0.0
opencv-python-headless
pyrogram
pytgcalls==3.0.0.dev22
pymongo
python-dotenv
pymediainfo
prettytable
git+https://github.com/Itz-fork/py-trans.git
reportlab
svglib
speedtest-cli==2.1.3
tgcrypto 
telegraph
uwuify
