aiofiles
aiohttp
APScheduler==3.7.0
blackpink
bs4
emoji==1.6.0
ffmpeg-python
geezlibs==1.7.6
git+https://github.com/Itz-fork/py-trans.git
gitpython
googlesearch-python
gpytranslate
gTTs
gunicorn
heroku3
humanize
httpx
httpx[http2]
motor==3.0.0
opencv-python-headless
openai
phlogo
prettytable
psutil
PyGithub
pymongo
py-extract
pykeyboard
pymediainfo
python-telegram-bot
python-dotenv
pytgcalls==3.0.0.dev24
pyrogram
reportlab
requests
speedtest-cli==2.1.3
SpeechRecognition
svglib
tgcrypto
telegraph
telegram
uwuify
uvloop
wget
youtube-search
youtube-search-python
yt-dlp
